<h3 class="first">Drag Only</h3>
<div pDraggable="pnl"  dragHandle=".ui-panel-titlebar">
    <p-panel header="Drag Header">
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
    </p-panel>
</div>

<h3>Drag and Drop to Table</h3>
<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column">
        <ul style="margin:0;padding:0">
            <li *ngFor="let car of availableCars" class="ui-helper-clearfix" pDraggable="cars"
                (onDragStart)="dragStart($event,car)" (onDragEnd)="dragEnd($event)">
                <i class="fa fa-arrows fa-2x" style="float:right;margin-top:8px"></i>
                <img src="https://www.primefaces.org/primeng/assets/showcase/images/demo/car/{{car.brand}}.png" style="float:left" draggable="false">
                <div style="margin:8px 0 0 8px;float:left">{{car.vin}} - {{car.year}}</div>
            </li>
        </ul>
    </div>
    <div class="ui-g-12 ui-md-6 drop-column" pDroppable="cars" 
        (onDrop)="drop($event)" [ngClass]="{'ui-highlight-car':draggedCar}">
        <p-table [value]="selectedCars">
            <ng-template pTemplate="header">
                <tr>
                    <th>Vin</th>
                    <th>Year</th>
                    <th>Brand</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.vin}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
